/********** Template CSS **********/
:root {
    --primary: #469749;
    --light: #EFF5FF;
    --dark: #1B2C51;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.header-carousel .owl-carousel-text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.header-carousel .owl-nav {
    position: absolute;
    width: 200px;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.header-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    transition: .5s;
}

.header-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: #FFFFFF;
    border-radius: 5px;
}

.header-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: url(../img/header-page.jpg) top center no-repeat;
    background-size: cover;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.header-carousel .owl-carousel-image {
    width: 100%;
    height: 400px;
    /* Set a fixed height */
    object-fit: cover;
    /* Ensure the image covers the area without distortion */
}

/*** Service ***/
.service-item {
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
}

.service-item .btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 40px;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
}

.service-item:hover .btn {
    width: 140px;
}


/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Team ***/
.team-item img {
    position: relative;
    top: 0;
    transition: .5s;
}

.team-item:hover img {
    top: -30px;
}

.team-item .team-text {
    position: relative;
    height: 100px;
    transition: .5s;
}

.team-item:hover .team-text {
    margin-top: -60px;
    height: 160px;
}

.team-item .team-text .team-social {
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text .team-social {
    opacity: 1;
}

.team-item .team-social .btn {
    display: inline-flex;
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 40px;
}

.team-item .team-social .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}


/*** Appointment ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text {
    background: var(--light);
    transform: scale(.8);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary);
    transform: scale(1);
}

.testimonial-carousel .owl-item .testimonial-text *,
.testimonial-carousel .owl-item .testimonial-item img {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item img {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    color: var(--primary);
    font-size: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

/* Footer Styles */
.footer .container {
    display: flex;
    justify-content: space-around; /* Distribute columns evenly */
    flex-wrap: wrap; /* Allow content to wrap on smaller screens */
    padding: 50px 20px;
    width: 100%;
}

/* Flex layout for the row */
.footer .row {
    display: flex;
    justify-content: space-evenly; /* Evenly space out columns */
    width: 100%; /* Ensure it spans full width */
    flex-wrap: wrap;
}

/* Styling for each column */
.footer .col-lg-3, .footer .col-md-6 {
    flex: 1;
    max-width: 300px; /* Limit the maximum width of columns */
    margin: 10px;
    text-align: justify; /* Justify text inside each column */
}

/* Styling for the headings */
.footer h5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Styling for text and links */
.footer p,
.footer a {
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .btn-link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 0;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.footer .btn-link:hover {
    color: #469749; /* Primary color */
}

/* Social Media Icon Styling */
.footer .btn-social {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #fff;
    background-color: #3b3b3b;
    border-radius: 50%;
    font-size: 16px;
    transition: background-color 0.3s;
}

.footer .btn-social:hover {
    background-color: #469749;
}

/* Responsive Design */
@media (max-width: 767px) {
    .footer .container {
        flex-direction: column;
        align-items: center; /* Stack columns vertically on smaller screens */
    }

    .footer .container .col-lg-3,
    .footer .container .col-md-6 {
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }

    .footer .copyright {
        font-size: 14px;
    }
}



.hero {
    background: var(--primary);
    padding: calc(4rem - 30px) 0 0rem 0;
}

@media (min-width: 768px) {
    .hero {
        padding: calc(4rem - 30px) 0 4rem 0;
    }
}

@media (min-width: 992px) {
    .hero {
        padding: calc(8rem - 30px) 0 8rem 0;
    }
}

.hero .intro-excerpt {
    position: relative;
    z-index: 4;
}

@media (min-width: 992px) {
    .hero .intro-excerpt {
        max-width: 450px;
    }
}

.hero h1 {
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
}

@media (min-width: 1400px) {
    .hero h1 {
        font-size: 54px;
    }
}

.hero p {
    color: rgba(255, 253, 253, 0.5);
    margin-bottom: 30px;
}

.hero .hero-img-wrap {
    position: relative;
}

.hero .hero-img-wrap img {
    position: relative;
    top: 0px;
    right: 0px;
    z-index: 2;
    max-width: 780px;
    left: -20px;
}

@media (min-width: 768px) {
    .hero .hero-img-wrap img {
        right: 0px;
        left: -100px;
    }
}

@media (min-width: 992px) {
    .hero .hero-img-wrap img {
        left: 0px;
        top: -80px;
        position: absolute;
        right: -50px;
    }
}

@media (min-width: 1200px) {
    .hero .hero-img-wrap img {
        left: 0px;
        top: -80px;
        right: -100px;
    }
}

.hero .hero-img-wrap:after {
    content: "";
    position: absolute;
    width: 255px;
    height: 217px;
    background-image: url("../images/dots-light.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: -100px;
    top: -0px;
}

@media (min-width: 1200px) {
    .hero .hero-img-wrap:after {
        top: -40px;
    }
}

.btn {
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    color: #ffffff;
    background: var(--primary);
    border-color: var(--primary);
}

.btn:hover {
    color: #ffffff;
    background: #222222;
    border-color: #222222;
}

.btn:active,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn.btn-primary {
    background: #3b5d50;
    border-color: #3b5d50;
}

.btn.btn-primary:hover {
    background: #314d43;
    border-color: #314d43;
}

.btn.btn-secondary {
    color: #2f2f2f;
    background: #f9bf29;
    border-color: #f9bf29;
}

.btn.btn-secondary:hover {
    background: #c29932;
    border-color: #f8b810;
}

.btn.btn-white-outline {
    background: transparent;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.3);
}

.btn.btn-white-outline:hover {
    border-color: white;
    color: #ffffff;
}

.untree_co-section {
    padding: 7rem 0;
}

.form-control {
    height: 50px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #3b5d50;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.form-control::-webkit-input-placeholder {
    font-size: 14px;
}

.form-control::-moz-placeholder {
    font-size: 14px;
}

.form-control:-ms-input-placeholder {
    font-size: 14px;
}

.form-control:-moz-placeholder {
    font-size: 14px;
}

.form-toggle {
    text-align: center;
    margin-bottom: 20px;
}

.form-toggle button {
    margin: 0 10px;
}

.form-content {
    transition: all 0.3s ease-in-out;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 5px;
}

